*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
form{
    border: 2px solid black;
    width: 25%;
    margin: 6% 2%;
    border-radius: 20px;
    padding: 2% 3%;
}
#Nom,#marke,#dat,#types,#prix{
    width: 100%;
    height: 30px;
    margin-bottom: 4%;
}
input[type='radio']{
    margin: 5% 8%;
}
#btn{
    width: 45%;
    height: 30px;
    margin: 5%;
    margin-right: 0;
    float: right;
}
#sav{
    width: 45%;
    height: 30px;
    margin: 5%;
    margin-right: 0;
    float: left;
    display: none;
}
section{
    display: flex;
    flex-direction: row;
}
table,div{
    padding: 0.3%;
    height: 100%;
    width: 95%;
    margin: 6% 0;
    text-align: center;
}
table,tr,td{
    border-collapse: inherit;
    border-radius: 0px;
    border:1px solid rgb(154, 22, 22);
  }
 div>input{
    padding: 1%;
 }
@media screen and (max-width: 412px){
    section{
        flex-direction: column;
    }
    form{
        width: 90%;
        margin: 6% 5%;
    }
    table,div{
        padding: 0.3%;
        height: 100%;
        width: 100%;
        margin: 2% 0;
    }
    div>input{
        margin: 5%;
     }
}